﻿@using Net5Test2.Components
@model IEnumerable<Net5Test2.BLL.Data.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var user in Model)
{
    @user.FirstName @user.LastName<br/>
}
<component type="typeof(Login)" render-mode="ServerPrerendered" />

@using (Html.BeginForm("Save", "Home", new { @id = "form" }))
    {
        <input type="text" placeholder="first name" name="FirstName"/><br />
        <input type="text" placeholder="last name" name="LastName"/><br />
        <input type="text" placeholder="user group id" name="UserGroupId"/><br />
        <input type="submit" value="Submit"/>
    }
<script src="~/_framework/blazor.server.js"></script>